html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: darkolivegreen; 
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
    text-align: center;
}

.container {
    padding: 250px 0;
	margin: 30px;
    text-align: center;
    background-image: url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
    color: #ffffff;
}