html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5;
    width: 100%;
    height: 100%;
}

.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }

  .pill-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .pill-nav a.active {
    background-color: pink;
    color: white;
  }
  
h1 {
    text-align: center;
    font-size: 32px;
    color: darkolivegreen; 
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
    text-align: center;
    padding: 250px 0;
}

.container {
    padding: 250px 0;
	margin: 30px;
    text-align: center;
    color: #ffffff;
    background-image: url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
}

.projects {
    text-align: center;
}

.extras {
    text-align: center;
}
